.loader{
    &__container{
        position: fixed;
        background-color: $black;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        animation: up 8s forwards;
        -webkit-animation: up 8s forwards;
}
    &__lettre{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: #484848;
        font-size: 5rem;
        font-family: "Shrikhand", cursive;
        margin-bottom: 150px;
        animation: flash 1.2s linear infinite;
        -webkit-animation: flash 1.2s linear infinite;
    }
}
