
/* Animation vers le haut */
@keyframes slideUp {
    0% {
        transform: translateY(-700px);
        opacity: 0;
}
    100%{
        transform: translateY(0px);
        opacity: 1;
}
}

/* Animation des cartes vers la droite */
@keyframes slideLeft {
    0%{
        width: 0;
    }
    50%{
        width: 100px;
    }
    100%{
        width: 0px;
    }
}

/* Animation pour l'incon  */
@keyframes turnIcon {
    0%{
        transform: rotate(-270deg);
    }
    100%{
        transform: rotate(0deg);
    }
}